// @mixin
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-only {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

// color variable

// Header
$header-background: #3c3b63;
$header-text: #ffffff;
$header-shadow: rgba(0, 0, 0, 0.2);

// Search
$search-background: rgba(255, 255, 255, 0.15);
$search-icon: #ffffff;
$search-placeholder: rgba(255, 255, 255, 0.42);
$search-text: #ffffff;

// Card
$card-avatar-backgrounnd: #bdbdbd;
$card-avatar-text: #fafafa;
$card-text: rgba(0, 0, 0, 0.87);
$card-date: rgba(0, 0, 0, 0.54);
$card-title: rgba(0, 0, 0, 0.87);
$card-description: rgba(0, 0, 0, 0.54);
$card-shadow: rgba(0, 0, 0, 0.2);

body {
  font-family: Helvetica;
  margin: 0;
}

.search-header {
  background-color: $header-background;
  color: $header-text;
  box-shadow: 0 1px 2px 0 $header-shadow;
  position: fixed;
  width: 100%;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin-left: 20px;
    font-weight: 300;
  }

  input {
    margin-right: 20px;
  }
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
}

.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  > p,
  h4 {
    flex: 100%;
    text-align: center;
  }
}

//card
.card {
  display: inline-block;
  box-shadow: 0 1px 2px 0 $card-shadow;
  margin: 20px;
  position: relative;
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 30%;

  &:hover {
    margin-bottom: 54px;
  }

  @include for-tablet-only {
    width: 30%;
    flex-grow: 1;
  }

  @include for-phone-only {
    width: 100%;
    margin: 5px;
  }
}

.card-header {
  display: flex;
  align-items: center;
  color: $card-text;
  line-height: 1.4;
  padding: 20px 20px 10px 20px;

  .publish-date {
    color: $card-date;
  }
}

[data-letters]:before {
  content: attr(data-letters);
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 1em;
  background: $card-avatar-backgrounnd;
  color: $card-avatar-text;
}

.card-body {
  position: relative;

  img {
    width: 100%;
  }

  h2 {
    font-weight: 400;
    margin-bottom: 0;
  }

  .card-body-text {
    padding: 0 20px;
  }

  .body-description {
    color: $card-description;
  }
}
